.speech{
    color:black;
    font-family:'Times New Roman', Times , serif;
    font-size:15px;
    text-decoration: solid;
    text-indent: 14px;
}
.direction{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    text-decoration: solid;
    text-decoration-color:aquamarine;
    text-indent: 20px;
}
.direction:hover{
    color:green;
    background-color: rgb(13, 138, 248);
}
.drstockmann{
    color:red;
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    text-decoration: solid;
}
.mrsstockmann{
    color:rgb(230, 250, 9);
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    text-decoration: solid;
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }
