.speech{
    color:black;
    font-family:'Times New Roman', Times , serif;
    font-size:15px;
    text-decoration: solid;
    text-indent: 14px;
}
.direction{
    color:black;
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    text-decoration: solid;
    text-decoration-color:aquamarine;
    text-indent: 20px;
}
.direction:hover{
    color:green;
    background-color: rgb(13, 138, 248);
}
.drstockmann{
    color:red;
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    text-decoration: solid;
}
.mrsstockmann{
    color:rgb(230, 250, 9);
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    text-decoration: solid;
}
table, td, th {  
    margin:2px;
    padding:10px;
     border:solid 1px;
    border-collapse: separate;
    text-align: center;
    outline: solid 2px palevioletred;
  }
  
  tr:nth-child(even) {

    color: green;
    background-color: chocolate;
  }
  
  tr:nth-child(odd) {
    color:brown;
    background-color:bisque;
  }
  .petra{
    color:fuchsia;
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    text-decoration: solid;
}
.hovstad{
    color:blue;
    font-family:'Times New Roman', Times, serif;
    font-size:18px;
    text-decoration: solid;
}
.drstockmann:hover{
    color:violet;
    background-color: rgb(13, 138, 248);
    text-shadow: 2px 3px 2px darkgrey;
}
.mrsstockmann:hover{
    color:violet;
    background-color: rgb(13, 138, 248);
    text-shadow: 2px 3px 2px rgb(240, 8, 124);
}
.drstockmann:hover{
    color:violet;
    background-color: rgb(13, 138, 248);
    text-shadow: 2px 3px 2px darkgrey;
}
.petra:hover{
    color:violet;
    background-color: rgb(13, 138, 248);
    text-shadow: 2px 3px 2px darkgrey;
}
.hovstad:hover{
    color:violet;
    background-color: rgb(13, 138, 248);
    text-shadow: 2px 3px 2px darkgrey;
}